body{
    background-image: url(Helluva_Boss_2020_Title_Card.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(0, 102, 26);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wikimedia{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
